textarea {
  height: 300px;
  width: 100%;
}

.list {
  margin-top: 10px;

  .row {
    border-top: 1px solid #EEEEEE;
    padding: 5px 0px;

    &:last-of-type {
      border-bottom: 1px solid #EEEEEE;
    }

    &.selected {
      border-left: solid 5px #5bc0de;
      border-right: solid 5px #5bc0de;
      margin-left: -20px;
      margin-right: -20px;
      border-radius: 5px;
      background-color: #FCF8E3;
    }

    div.complete {
        text-decoration: line-through;
        color: #999;
    }
  }
}

.new-list {
  margin-top: 40px;
}

img.logo {
  padding: 0px 10px;
}